/*
AutoComplite Plugin styles
*/
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #d1d1d1; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 36px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1em; color: #363636; cursor: pointer; }
.autocomplete-suggestion b { font-weight: normal; color: #ae9675; }
.autocomplete-suggestion.selected { background: #F3F3F3;}

.b-products__photo img 
{
    max-width: 244px;
    max-height: 171px;
}

.filter .sublist .sublist__link-not_available, .filter .sublist .sublist__link-not_available:hover
{
    text-decoration: none;
    color: #999;
}

.filter .sublist .sublist__link-selected
{
    font-weight: bold;
}

.b-gallery__photo img
{
    max-height: 172px;
}

.page__content .b-media__picture img
{
    max-height: 200px;
    margin: 0;
}

.b-testimonials__content img
{
    max-height: 200px;
    max-width: 500px;
}

.banner__img
{
    max-height: 208px;
    max-width: 208px;
}

.b-product-promo__picture,.b-video__content
{
    text-align: center;
}

.b-product-promo__picture img
{
    max-height: 500px;
}

button.btn
{
    width: 100%;
}

.g-text--danger
{
    color: #a94442;
}

.page__content img{
    margin: 20px;
}

.promo__block .item__text p{
    margin:0;
}

#screen3 .banner__img img{
    max-height: 194px;
} 

.screen-5 .banner .banner__title p {
    font-size: 19px;
    line-height: 1.25em;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    vertical-align: middle;
    margin:0;
}

.cosmetic__banner img{
    margin: 0;
    margin-top: 20px;
}

.b-text p img{
    margin-left: 20px;
    margin-right: 20px;
}